.information-container {
  margin: 30px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
  align-items: center;
}

.information-container:hover {
  box-shadow: 0 0 2px 0px black;
}